.navbarbootstrap{
    background-color:aqua;
}

/*SUA MISSÃO: escolher o fundo do site*/
/*https://cssgradient.io/*/
body{
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,253,146,1) 100%);
text-align: center;
}